# HackLabH Release (local only)
NODE_ENV=development

# Dashboard local
PORT=9666
WEB_ADMIN_PASSWORD=change_me_release_password

# Discord bot release
DISCORD_TOKEN=PUT_RELEASE_BOT_TOKEN_HERE
DISCORD_CLIENT_ID=1398045663916462120
DISCORD_CLIENT_SECRET=PUT_RELEASE_CLIENT_SECRET_HERE
DISCORD_REDIRECT_URI=http://localhost:9666/api/auth/callback

# Slash commands release
CLIENT_ID=1398045663916462120
GUILD_ID=1481324603870810163

# Lavalink local (docker mapped)
LAVALINK_URL=127.0.0.1:2444
LAVALINK_PASSWORD=youshallnotpass
LAVALINK_SECURE=false

# Optional
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_MARKET=US
WEB_OWNER_DISCORD_IDS=
