# Aquí pones el Token de tu bot de Discord
DISCORD_TOKEN=tu_token_aqui

# CONFIGURACIÓN DEL PANEL WEB
PORT=3000
WEB_ADMIN_PASSWORD=hacklab_secreto

# DISCORD OAUTH2 (Necesario para iniciar sesión en la Web)
DISCORD_CLIENT_ID=tu_client_id_aqui
DISCORD_CLIENT_SECRET=tu_client_secret_aqui
# Debe coincidir exactamente con lo configurado en Discord Portal (ej. http://localhost:3000/api/auth/callback)
DISCORD_REDIRECT_URI=http://localhost:3000/api/auth/callback
